.container-waves{
    width: 100px;
    height: 100px;
    background: red;
  }
  .waves-top{
    position: absolute;
    z-index: -1;
  }
  
  .waves-button{
    position: absolute;
    z-index: -1;
  }
.images{
  width: 100%;
  height: 100%;
}