body{
  background-color: #231F20;
  color: #e4d3b5;

  /*color: white;
  background-image: linear-gradient(to bottom, #907038, #98773e, #9f7d44, #a7844a, #af8b50, #b69258, #bc9a60, #c3a168, #cbaa75, #d2b481, #dabd8e, #e1c79b);*/
}
.container-waves{
    width: 100px;
    height: 100px;
    background: red;
  }
  .waves-top{
    position: absolute;
    z-index: -1;
  }
  
  .waves-button{
    position: absolute;
    z-index: -1;
  }
.images{
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  border-radius: 15px 15px 15px 15px;
-moz-border-radius: 15px 15px 15px 15px;
-webkit-border-radius: 15px 15px 15px 15px;
}

.container-image-catalogo{
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
.TextName{
  font-size: 4vh;
  font-weight: 100;
}
.textoMobil{
  display: none;
}
@media (max-width: 600px) {
/*  .waves-top{
    display: none;
  }*/
  .textoMobil{
    font-size: 4vh;
  font-weight: 100;
    display: block;
  }
}