@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arizonia&display=swap');

body {
  margin: 0;
  font-family: 'Sansita Swashed', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.arizonia{
  font-family: 'Sansita Swashed', cursive;
  font-size: 2em;
  letter-spacing: 0.12em;
  font-weight: 300;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
